@font-face {
  font-family: HarmonyOS;
  src: url(./assets/font/fontello.ttf);
}

html {
  -webkit-tap-highlight-color: transparent;
}

.icon {
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -0.15em;
  fill: currentColor;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-gray-1);
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: var(--chakra-colors-gray-5);
  border-radius: 8px;
}

@keyframes loading {
  /*以百分比来规定改变发生的时间 也可以通过"from"和"to",等价于0% 和 100%*/
  0% {
    /*rotate(2D旋转) scale(放大或者缩小) translate(移动) skew(翻转)*/
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
  }
}

@-o-keyframes slide {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
  }
}

@keyframes slide {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(2);
    opacity: 0.3;
  }

  100% {
    transform: scale(1);
  }
}
